h1{
    color:red;
    background-color: #ccc;
    border-radius: 50%;
}
p{
color:green;
font-size:20px;
}

div{
    width: 400px;
    height: 400px;
    color:#ccc;
    background-color: antiquewhite;
}